.line{

    width: 100%;
    height: 2px;
    background-color: rgba(186, 176, 176, 0.439);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

}

.head-main-page{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap:30px;
    grid-template-rows: 10px 1fr;

}
.main-style-page{
    display: flex;
    flex-direction: column;
}