.dialog{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 60%;
    border: solid black;
    box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 15%;
    background: whitesmoke;
    z-index: 900;
    min-width: 500px;
    min-height: 500px;
  

    
}
.component-box{
    overflow-y: scroll;
}
.close-div{
    text-align: center;
}