.cart-header-table{
    display: grid;
    grid-template-columns: 15% 30% 20% 1fr;
    table-layout: fixed;
    overflow: hidden;
   

}
.cart-table{
    width: 100%;
}
.cart-header-table >th{
    border: solid;
    border-width: 0.1px;
   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
   border-radius: 2px;
}


.title-header-cart{
    font-family: 'Dancing Script', cursive;
    text-decoration: underline;
    
}
header{
    margin-bottom: 10px;
    margin-top: 5px;
}
.checkout-dialog{
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
