.product-box{
   
    display: grid;
    grid-template-rows: 55% 45%;
    width: 200px;
    height: 300px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.product-image{
    position: relative;
}

.product-info{
    display: grid;
    grid-template-rows: 80% 20% ;
    height: 100%;
}
.product-info-title{
    position: absolute;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 190px;
    text-overflow: hidden;
     white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    font-style:italic;
    left: 5px;
    animation: text-in 0.5s ease-out;
    overflow: hidden;

}
@keyframes text-in {
    0%, 100%{
        opacity: 0;
        transform: translate(-10%);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
    
}


.product-info-description{
    font-weight: 300;
    padding: 5px;
    text-overflow: hidden;
    font-size: small;
    overflow: hidden; 
    text-overflow:clip;
 

}
.price{
    padding: 5px;
    border-top:solid rgba(0, 0, 0, 0.498) 0.8px;

}
.product-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.btn-add-to-cart{
    position: absolute;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    right: 2px;
    top: 2px;
    width: 40%;
    height: 23px;
    font-size:xx-small;
    border: none;
    border-radius: 5px;

    
}
.btn-add-to-cart p {
    display: inline;
    margin: 2px;
    text-overflow: hidden;
     white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;

}
.img-shopping-cart{
    width: 100%;
    height: 100%;
    object-fit: contain;
    mix-blend-mode:multiply;
    position: relative;
    right: 0;
    top: 0;
    margin-bottom: 2px;

    
}
.btn-press-add-to-cart{
    margin-top: 2px;
    width: 90%;
    margin-left: 8px;
    height: 80%;
    background-color:rgb(249, 228, 189);
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.btn-press-add-to-cart:active{
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}
