body {
  margin: 0;
  font-family: 'Roboto','Crimson Text, serif', sans-serif, Arial, Helvetica;
  height: 1000px;

}

:root{
  --font-roboto: 'Roboto', sans-serif;
  --font-crimson: 'Crimson Text', serif;
  --font-dancing: 'Dancing Script', cursive

  --color-red: red
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}